html, body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  html, body {
    overflow: auto;
  }
}

.btn-animation-slide-up {
  animation: btn-slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-animation-slide-down {
  animation: btn-slide-down 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes btn-slide-up {
  0% {
    transform: translateY(-3.75rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes btn-slide-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-3.75rem);
  }
}

.simplebar-mask {
  border-radius: 0.5rem !important;
}

#tooltip {
  z-index: 999;
  position: absolute;
  bottom: inherit;
  left: inherit;

  padding: 0.35rem 0.5rem;
  background: #F4F8FF;
  color: #333333;
  font-size: 1rem;
  border-radius: 0.25rem;
  filter: drop-shadow(0 1px 2px hsla(0, 0%, 0%, 0.2));
  width: max-content;
}

body.dark-mode #tooltip {
  background: #333333;
  outline: 0.125rem solid #4A3F64;
  color: #F4F8FF;
}